/* #root { */
/*   max-width: 1280px; */
/*   margin: 0 auto; */
/*   padding: 2rem; */
/*   text-align: center; */
/* } */
body {
  background-color: #f6f7faff;
}

/* .form__register__container { */
/*   width: 450px; */
/*   border-radius: 25px; */
/*   background-color: #fff; */
/* } */
/**/

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
